In [1]:
import numpy as np
import pandas as pd

import pickle
import json

### Load model, fitur, scaler, dan encoder

In [2]:
with open('model.pkl', 'rb') as file_1:
  model = pickle.load(file_1)

with open('scaler.pkl', 'rb') as file_2:
  scaler = pickle.load(file_2)

with open('encoder.pkl', 'rb') as file_3:
  encoder = pickle.load(file_3)

with open('list_num_cols.txt', 'r') as file_4:
  num_columns = json.load(file_4)

with open('list_cat_cols.txt', 'r') as file_5:
  cat_columns = json.load(file_5)

with open('list_cat_num_cols.txt', 'r') as file_6:
  cat_num_columns = json.load(file_6)

### Load data inference

In [3]:
# Load data inference
data_inf = pd.read_csv("inference_set.csv")
data_inf

            make     model  year  mileage   hp       gear      fuel
0           Ford  EcoSport  2022     5000  100     manual  gasoline
1  Mercedes-Benz   CLA 200  2022        0  150     manual  gasoline
2           Seat     Arona  2019     5000  100     manual  gasoline
3           Audi        A6  2022    10000  100  automatic    diesel
4           Opel      Adam  2022     5000  100     manual  gasoline
5            BMW    X4 M40  2022        0  150  automatic  gasoline
6          Skoda  ENYAQ iV  2019        0  100     manual  electric
7           Seat      Leon  2022        0  150  automatic    diesel
8          Skoda     Karoq  2022     5000  150  automatic  gasoline
9            BMW       318  2019    10000  150  automatic    diesel

### Klasifikasi fitur

In [4]:
data_inf_num = data_inf[num_columns]
data_inf_cat = data_inf[cat_columns]
data_inf_cat_num = data_inf[cat_num_columns]

#### Scaling dan Encoding fitur

In [5]:
data_inf_num_scaled = scaler.transform(data_inf_num)
data_inf_cat_encoded = encoder.transform(data_inf_cat)

data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded, data_inf_cat_num], axis=1)

#### Prediksi dengan model yang telah dibuat

In [6]:
# Prediksi harga mobil
y_pred_inf = model.predict(data_inf_final)
y_pred_df = pd.DataFrame(y_pred_inf, columns=["price_pred"])
y_pred_df

     price_pred
0  20568.260102
1  34663.572145
2  18399.598327
3  32931.696225
4  20568.260102
5  41008.251193
6  20012.895396
7  55974.133902
8  37332.001092
9  35442.041616

In [7]:
# Concat dengan data inference awal
y_pred_df2 = pd.concat([data_inf,y_pred_df], axis=1)
y_pred_df2

,make,model,year,mileage,hp,gear,fuel,price_pred
0,Ford,EcoSport,2022,5000,100,manual,gasoline,20568.260102
1,Mercedes-Benz,CLA 200,2022,0,150,manual,gasoline,34663.572145
2,Seat,Arona,2019,5000,100,manual,gasoline,18399.598327
3,Audi,A6,2022,10000,100,automatic,diesel,32931.696225
4,Opel,Adam,2022,5000,100,manual,gasoline,20568.260102
5,BMW,X4 M40,2022,0,150,automatic,gasoline,41008.251193
6,Skoda,ENYAQ iV,2019,0,100,manual,electric,20012.895396
7,Seat,Leon,2022,0,150,automatic,diesel,55974.133902
8,Skoda,Karoq,2022,5000,150,automatic,gasoline,37332.001092
9,BMW,318,2019,10000,150,automatic,diesel,35442.041616

Dari hasil prediksi, rata-rata mobil yang harganya rendah adalah mobil yang bertransmisi manual dan termasuk mobil bekas (sudah pernah dipakai). Kemudian rata-rata mobil yang harganya tinggi adalah mobil yang bertransmisi otomatis dan termasuk mobil baru (belum pernah dipakai).